input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.presentation{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    max-width: 800px;

}

.background1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #49b8fc;
}

.background2{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #74ed7c;
}

.image {
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    height: 10rem;
    padding: 1rem;
}

.error {
    background-color: red;
    color: white;
}

.closed{
    display: none;
}

#talkWithUs {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
}

.inFront{
    z-index: 9;
}


ul{
    list-style: none;
}

.ulPresentation {
    margin: 0;
    padding: 0;
}

.form {
    display: block;
    max-width: 600px;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #bbb;
}

footer {
    margin-top: 1rem;
    padding: 1rem;
    border-top-style: double;
    border-color: #FFF;
    border-width: 0.4rem;
    border-radius: 30px;
}

.contactLogo{
    width: 50px;
    height: auto;
}

.ul_contact_logo {
    display: inline;
    padding: 0;
    margin: 0;
    margin-left: 35%;
    float: left;
}


.footerUl {
    display: inline;
    margin: 0;
    padding: 0;
}

.footerLi {
    display: inline;
}

.footerLi:last-child{
    margin-right: 2rem;
}

#whatsappLogo {
    width: 7vw;
    height: auto;
    position: center;
    margin-left: 1rem;
}

#logoContainer {
    width: 100%;
    background-color: #000;
}

.ulForm{    
    margin-left: auto;
    margin-right: auto;
}

input{
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
    width: 80%;
    text-align: center;
}

.confirmar {
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    width: 80%;
    text-align: center;
    background-color: #020fa6;
    color: white;
    border-radius: 50px;
}

select {
    display: block;
    margin: 0 auto;
    width: 82%;
    text-align: center;
}

li.text {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    height: 15rem;
    padding: 1rem;
}


.clickable{
    cursor: pointer;
}

#site {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #000;
}

a{
    text-decoration: none;
}


.closed {
    display: none;
}

.content{
    width: 100%;
}

@media screen and (max-width: 1045px){
    #whatsappLogo {
        width: 9vw;
    }
}

@media screen and (max-width: 845px) {
    #whatsappLogo {
        width: 4rem;
    }

    .image {
        height: 6rem;
    }
}

@media screen and (max-width: 800px) {
    .ul_contact_logo {
        margin-left: 20%;
    }
}

@media screen and (max-width: 679px) {
    .ul_contact_logo {
        margin-left: 10%;
    }
}

@media screen and (max-width: 499px) {
    .ul_contact_logo {
        display: block;
        position: initial;
        padding: 0;
        margin: 0;
    }

    .footerUl {
        display: block;
        position: initial;
        margin: 0;
        margin-top: 4rem;
        padding: 0;
    }
}
