.text {
    font-family: 'Josefin Sans', 'Leelawadee UI', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    text-align: justify;
    padding: 1rem;
}

.textInput {
    font-family: 'Josefin Sans', 'Leelawadee UI', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    text-align: center;
}

.title2 {
    font-family: 'Lobster','Leelawadee UI';
    font-weight: 600;
    font-size: 40px;
    text-align: center;
}

.title {
    color: red;
    font-family: 'Lobster','Leelawadee UI';
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    padding-top: 2rem;
}

.question {
    color: red;
    font-family: 'Josefin Sans', 'Leelawadee UI', sans-serif;
    font-weight: 600;
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
}


.footerText {
    font-family: 'Josefin Sans', 'Leelawadee UI', sans-serif;
    width: 100%;
    font-weight: 600;
    color: #FFF;
    font-size: 20px;
}

.center{
    text-align: center;
}
